<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Try Chart</title>
<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script> -->
 <body>
    <ol class="breadcrumb">data from date : <input type="text" name="datefilter" value="" /></ol>
<!--Download CSV-->
<p>Click this button to download all data from node 1</p>
  <div>
    <button id="button1" class="button"><span>Download</span></button>
  </div>
      <div class="row"> 
        <div class="col-sm-1"></div>
          <canvas id="moistureChart" width="600" height="400">
          </canvas>
          <div class="col-sm-1"></div>
          
        </br></br></br>
        <div class="row"> 
          <div class="col-sm-1"></div>
            <canvas id="accelero_xChart" width="600" height="400">
            </canvas>
            <div class="col-sm-1"></div>
            </div>
          </div>

<!--Download CSV code-->
<script>
  $(document).ready(function() {
  $("#button1").on('click', function(e) {
    var url = "https://gmlews.com/api/data/?node_id=1";
    $.ajax({
      type: "GET",
      url: url,
      success: function(result) {
        DownloadJsonData(result, "Node-1", true);
      },
      error: function(result) {
        alert('Error ');
      }
    });
  });

  function DownloadJsonData(JSONData, FileTitle, ShowLabel) {
    //If JSONData is not an object then JSON.parse will parse the JSON string in an Object
    var arrData = typeof JSONData != 'object' ? JSON.parse(JSONData) : JSONData;
    var CSV = '';
    //This condition will generate the Label/Header
    if (ShowLabel) {
      var row = "";
      //This loop will extract the label from 1st index of on array
      for (var index in arrData[0]) {
        //Now convert each value to string and comma-seprated
        row += index + ',';
      }
      row = row.slice(0, -1);
      //append Label row with line break
      CSV += row + '\r\n';
    }
    //1st loop is to extract each row
    for (var i = 0; i < arrData.length; i++) {
      var row = "";
      //2nd loop will extract each column and convert it in string comma-seprated
      for (var index in arrData[i]) {
        row += '"' + arrData[i][index] + '",';
      }
      row.slice(0, row.length - 1);
      //add a line break after each row
      CSV += row + '\r\n';
    }
    if (CSV == '') {
      alert("Invalid data");
      return;
    }
    //Generate a file name
    var filename = FileTitle + (new Date());
    var blob = new Blob([CSV], {
      type: 'text/csv;charset=utf-8;'
    });
    if (navigator.msSaveBlob) { // IE 10+
      navigator.msSaveBlob(blob, filename);
    } else {
      var link = document.createElement("a");
      if (link.download !== undefined) { // feature detection
        // Browsers that support HTML5 download attribute
        var url = URL.createObjectURL(blob);
        link.setAttribute("href", url);
        link.style = "visibility:hidden";
        link.download = filename + ".csv";
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      }
    }
  }
})
</script>



<!--Chart code-->
<script>
  $(function() {

$('input[name="datefilter"]').daterangepicker({
        showDropdowns : true,
    autoUpdateInput: false,
    locale: {
        cancelLabel: 'Clear'
    }
});

$('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
    $(this).val(picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD'));
var fromDate = picker.startDate.format('YYYY-MM-DD');
var toDate = picker.endDate.format('YYYY-MM-DD');
if (fromDate != '' && toDate != '') {
          console.log(fromDate, toDate);
          var endpoint = 'https://gmlews.com/api/data/?node_id=1';

$.ajax({
  method: "GET",
  url: endpoint,
  data: {
    fromDate: fromDate,
    toDate: toDate
  },
  success: function(data){
    console.log(data); //get all data
    //get data by fields
    var accelero_x = [], timestamp = [];
    for (var i=0; i<data.length; i++){
      accelero_x.push(data[i].accelero_x);
      timestamp.push(data[i].timestamp);
   }
    console.log(accelero_x);
    console.log(timestamp);
  //plot the chart
    
    var ctx = document.getElementById("accelero_xChart").getContext('2d');
    var accelero_xChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: timestamp,
            datasets: [{
                label: 'accelero-x',
                data: accelero_x,
                backgroundColor: [
                    '#ff000000'
                ],
                borderColor: [
                '#331698'
                ],
                borderCapStyle: 'round',
                borderWidth: 1
            }]
        },
        options: {
            reponsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:false,
                        stepSize:10
                    },
                      scaleLabel: {
                      display:     true,
                      labelString: 'accelero-x'
                  }
                }],
                xAxes: [{
                 
                        display: true,
                        type: "time",
                        time: {
                              minUnit: "hour",
                              unit: "hour",
                              unitStepSize: 6,
                              min: moment(fromDate).toDate(),//Date object type
                              max: moment(toDate).toDate()//Date object type
                        },
                      scaleLabel: {
                      display:     true,
                      labelString: 'Time (hour)'
                  }
                }]
            }
        }
    });
  },
  error: function(error_data){
    console.log(error_data)
  } 

});

//moisturechart
$.ajax({
  method: "GET",
  url: endpoint,
  data: {
    fromDate: fromDate,
    toDate: toDate
  },
  success: function(data){
    console.log(data); //get all data
    //get data by fields
    var moisture = [], timestamp = [];
    for (var i=0; i<data.length; i++){
      moisture.push(data[i].moisture);
      timestamp.push(data[i].timestamp);
   }
    console.log(moisture);
    console.log(timestamp);
  //plot the chart
    
    var ctx = document.getElementById("moistureChart").getContext('2d');
    var moistureChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: timestamp,
            datasets: [{
                label: 'kelembaban',
                data: moisture,
                backgroundColor: [
                    '#ff000000'
                ],
                borderColor: [
                '#331698'
                ],
                borderCapStyle: 'round',
                borderWidth: 1
            }]
        },
        options: {
            reponsive: true,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:false,
                        stepSize:10
                    },
                      scaleLabel: {
                      display:     true,
                      labelString: 'kelembaban'
                  }
                }],
                xAxes: [{
                 
                        display: true,
                        type: "time",
                        time: {
                              minUnit: "hour",
                              unit: "hour",
                              unitStepSize: 6,
                              min: moment(fromDate).toDate(),//Date object type
                              max: moment(toDate).toDate()//Date object type
                        },
                      scaleLabel: {
                      display:     true,
                      labelString: 'Time'
                  }
                }]
            }
        }
    });
  },
  error: function(error_data){
    console.log(error_data)
  } 

});

} //if function end
}); //tombol apply end


$('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
    $(this).val('');
});

});//function end
</script>





<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery.ui.datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    
  <!--buat kalender-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/themes/sunny/jquery-ui.min.css"></link>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"></link>
    
 </body>

</html>
