<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Weather Update</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


    <script>

    function dspChrt(hum, vibrate) {
        hum = loadChart().hum;
        vibrate = loadChart().vibrate;

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'line',
    data: {
    labels: ['M', 'T', 'W', 'T', 'F', 'S', 'S'],
    datasets: [{
      label: 'Humidity',
      data: hum, // json value received used in method
      backgroundColor: "rgba(153,255,51,0.4)"
    }, {
      label: 'Getaran',
      data: vibrate,
      backgroundColor: "rgba(255,153,0,0.4)"
    }]
  }
});
}
    </script>

<script>
 var myVar = setInterval(loadChart, 60000); // updates chart every one minute

 function loadChart()
 {
    var data, hum, vibrate;

    var requestURL = 'http://127.0.0.1:8000/api/data'; //URL of the JSON data
    var request = new XMLHttpRequest({mozSystem: true}); // create http request

    request.onreadystatechange = function() {
     if(request.readyState == 4 && request.status == 200) {
        data = JSON.parse(request.responseText);
        for (var i=0; i<data.length;i++) {
            hum = data[i].moisture;
            vibrate = data[i].vibration;
        }
        console.log('hum', hum);
        console.log('vibrate', vibrate);
        console.log('data', data);
        return data,hum,vibrate;
        dspChrt(hum, vibrate);   
         
  }
}
    request.open('GET', requestURL);
    request.send(); // send the request

 }

</script>


  </head>


  <body onload="loadChart()">

  <div class="container">

  <h2>Weather Update</h2>

  <div>
    <canvas id="myChart"></canvas>
  </div>

  </div>


  </body>
</html>
