{% extends 'base.html' %}

{% block content %}
    <!-- jquery ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>  
    <!-- leaflet css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <!--leaflet js after leaflet css-->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- kode list table node -->
          <div class="table-responsive">
            <h1>List Existing Node</h1>
            <br/>
            <table class="table table-bordered table-striped" id="node_table">
                <tr>
                    <th>Node Id</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Location</th>
                </tr>
            </table>
        </div></br> <!--end kode list table node-->

        <!--Map View all node-->
        <style>     /*map code*/
          #nodelistMap {
          height: 350px; }
        </style>
        <div id="nodelistMap"></div></br>

        </div>
        <!-- end of page content (container-fluid) -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; GMLEWS 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

    <!--JQUERY-->
    <script>
        $(document).ready(function() {
            $.getJSON("http://127.0.0.1:8000/api/node/", function(data){
                var node_data = '';
                $.each(data, function(key, value){
                    node_data += '<tr>';
                    node_data += '<td>'+value.node_id;
                    node_data += '<td>'+value.latitude;
                    node_data += '<td>'+value.longitude;
                    node_data += '<td>'+value.location;
                    node_data += '</tr>';
                });
                $('#node_table').append(node_data);
                console.log(data);

            });
        });

        //map leaflet
      const map = L.map('nodelistMap').setView([-7.7713794, 110.3753111], 7);
      const attribution =
          '&copy: <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';

      const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
      const tiles = L.tileLayer(tileUrl, { attribution });
      tiles.addTo(map);

       const api_url = '/api/node';
       let coordinates = [];
       let node_id = [];
       let loc = [];
        
        async function getData(){
          const response = await fetch(api_url);
          const data = await response.json();
          for (let i=0; i<data.length; i++){
            coordinates.push([Number(data[i].latitude), Number(data[i].longitude)]);
            node_id.push(data[i].node_id);
            loc.push(data[i].location);
          };
          console.log(coordinates);
          console.log(node_id);
          console.log(loc);

          //marker
          for (let i=0; i<coordinates.length; i++) {
            L.marker(coordinates[i]).addTo(map)
            .bindPopup("<b>Latitude:</b> " + coordinates[i][0] +"</br>" + 
            "<b>Longitude:</b> " + coordinates[i][1] + "</br>" + 
            "<b>Node Id:</b> " + node_id[i]);
          };
          
        };
        
        getData();

    </script>


{% endblock content %}